<footer>
  <div class="wrap row small-up-1 medium-up-3">
    <div class="column" id="footer-left">
      <span>
        <h5><a href="#0">About Enterprise</a></h1>
      </span>
    </div>
    <div class="column">
      <span>
        <h5><a href="http://dailybruin.com/"><img src="img/db-words.svg" alt="db-logo" style="height:50px;"></a></h1>
      </span>
    </div>
    <div class="column" id="footer-right">
      <a href="https://www.facebook.com/dailybruin"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
      <a href="https://twitter.com/dailybruin"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/dailybruin/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
