<head>

  <meta charset="utf-8">

  <!-- Instruct Internet Explorer to use its latest rendering engine -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <meta name="description" content="A Daily Bruin Enterprise project exploring university-level student homelessness.">

  <link rel="shortcut icon" type="image/x-icon" href="img/favicomatic/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicomatic/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicomatic/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicomatic/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicomatic/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicomatic/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicomatic/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicomatic/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicomatic/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicomatic/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/favicomatic/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicomatic/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicomatic/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicomatic/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#2c2c2c">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#2c2c2c">
  <meta name="msapplication-config" content="browserconfig.xml">

  <title></title>
  <meta name="description" content="">

  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

  <!-- Interview Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">

  <!-- Body Font Options -->
  <link href="https://fonts.googleapis.com/css?family=Caudex" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">

  <!-- Head Fonts Options -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mandali" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">

  <!-- Foundation -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="css/base.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
