
<div>
<class="show-for-medium-up">
<class="hide-for-small-only">
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><img class="db-logo1 small-2" src="img/db-logo.png" alt="Daily Bruin Logo" style="width: 42px; height: 42px;"></li>
      <li class="menu-text">Lorem Ipsum</li>
      <li><a href="/">Lorem Ipsum X</a></li>
      <li><a href="/paavo">Zoning Regulations</a></li>
      <li><a href="/merz">Housing Security</a></li>
      <li><a href="/by-the-numbers">By the Numbers</a></li>
      <li><a href="/seth">Van Living</a></li>
    </ul>
  </div>
</div>
</div>

<div>
<class="show-for-small-only">
    <div class="top-bar">
    <div class="top-bar-left">
    <u1 class="dropdown menu" data-dropdown-menu>
      <span>Author : <a href="http://glennsmith.me" target="_blank">Glenn Smith</a></span>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a href="#"><li>LINK ONE</li></a>
    <a href="#"><li>LINK TWO</li></a>
    <a href="#"><li>LINK THREE</li></a>
    <a href="#"><li>LINK FOUR</li></a>
    <a href="#"><li>LINK FIVE</li></a>
  </ul>
</div> <!--
      <li><img class="db-logo1 small-2" src="img/db-logo.png" alt="Daily Bruin Logo" style="width: 42px; height: 42px;"></li>
      <li class="menu-text">Lorem Ipsum</li>
      <li><a href="/">Lorem Ipsum X</a></li>
      <li><a href="/paavo">Zoning Regulations</a></li>
      <li><a href="/merz">Housing Security</a></li>
      <li><a href="/by-the-numbers">By the Numbers</a></li>
      <li><a href="/seth">Van Living</a></li>
    </ul>
  </div>
</div>
</div> -->
