<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><img class="db-logo1 small-2" src="img/db-logo.png" alt="Daily Bruin Logo" style="width: 42px; height: 42px;"></li>
      <li class="menu-text">Lorem Ipsum</li>
      <li><a href="/">Lorem Ipsum X</a></li>
      <li><a href="/paavo">Zoning Regulations</a></li>
      <li><a href="/merz">Housing Security</a></li>
      <li><a href="/by-the-numbers">By the Numbers</a></li>
      <li><a href="/seth">Van Living</a></li>
    </ul>
  </div>
</div>
