<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><img class="db-logo1 small-2" src="img/db-logo.png" alt="Daily Bruin Logo" style="width: 42px; height: 42px;"></li>
      <li class="menu-text"><a href="/">Close to Home</a></li>
      <li><a href="/">Close to Home</a></li>
      <li><a href="/a-flawed-system">A Flawed System</a></li>
      <li><a href="/securing-support">Securing Support</a></li>
      <li><a href="/by-the-numbers">By the Numbers</a></li>
      <li><a href="/van-life">Van Life</a></li>
    </ul>
  </div>
</div>
