<div class="row">
  <div class="title-photo row">
    <div class="medium-6 large-8 columns"></div>
    <img class="db-logo small-2" src="img/db-logo.png" alt="Daily Bruin Logo">
    <div class="medium-6 large-4 columns"></div>
    <div class="title-header">
      <h1 class="title-header small-3 small-offset-4">Lorem Ipsum</h1>
      <div class="title-subhead small-offset-8"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="white-line float-right"></div>
      <div class="byline small-offset-8">By
        <span class="byline__author">Meghan Hodges</span> and
        <span class="byline__author">Andrea Henthorn</span>
      </div>
    </div>
  </div>
</div>
