<div class="row">
  <div class="small-12 columns text-center">
    <div class="online-credit">Page created by
    <a href="https://github.com/cjiang101">Chloe Jiang</a>,
    <a href="https://github.com/jaylune">Jason Luna</a>,
    <a href="https://github.com/nathunsmitty">Nathan Smith</a>,
    <a href="https://github.com/miratang">Miranda Tang</a>,
    <a href="https://github.com/ryang72">Richard Yang</a> and
    <a href="https://github.com/zeehang">Michael Zhang</a></div>
  </div>
</div>
