<footer>
<div class="wrap row small-up-1 medium-up-3">
  <div class="column" id="footer-left">
    <ul class="fix-alignment">
      <li><a href="./by-the-numbers"><i class="left" aria-hidden="true"></i></a></li>
      <li><a href="./by-the-numbers"><h5>PREVIOUS PART</h5></a></li>
    </ul>
  </div>
  {% include "nunjucks/partials/footer/footer.njk" %}
  <div class="column" id="footer-right">
    <span>
      <p> </p>
    </span>
  </div>
</footer>
