<div class="cover-photo" id="cover-photo-2">
  <a href="http://dailybruin.com/"><img class="db-logo" src="img/db-logo.png" alt="Daily Bruin Logo"></a>
  <div class="cover-photo__header" id="cover-photo__header--2">
    <div class="cover-photo__subhead">
      <div class="cover-photo__subhead--chapter" id="cover-photo__subhead--chapter--2">Part Two</div>
      <h1 class="cover-photo__header">Associate professor <br> discusses necessity of <br> updated zoning regulations</h1>
      <div class="black-line float-left" id="black-line--2"></div>
      <div class="cover-photo__byline">By
      <span class="cover-photo__byline__author">Andrea Henthorn and Meghan Hodges</span>
      </div>
    </div>
  </div>
</div>
