<div class="cover-photo" id="cover-photo-1">
  <a href="http://dailybruin.com/">
    <img class="db-logo" src="img/db-logo.png" alt="Daily Bruin Logo">
  </a>
  <div class="cover-photo__header cover-photo__header--1">
    <h1>Close to Home</h1>
    <div class="cover-photo__subhead">Housing Insecurity at UCLA</div>
    <div class="white-line float-right"></div>
    <div class="cover-photo__byline">By
      <span class="cover-photo__byline__author">Andrea Henthorn</span> and
      <span class="cover-photo__byline__author">Meghan Hodges</span>
    </div>
    <!--<div class="cover-photo__photo-credit">DAYOUNG LEE/Daily Bruin</div>-->
  </div>
</div>
