<div class="cover-photo" id="cover-photo-3">
  <a href="http://dailybruin.com/"><img class="db-logo" src="img/db-logo.png" alt="Daily Bruin Logo"></a>
  <div class="cover-photo__header" id="cover-photo__header--3">
    <div class="cover-photo__subhead cover-photo__subhead--chapter" id="cover-photo__subhead--chapter3">Part Three</div>
    <h1> Emily Merz: <br> UC needs long-term solutions for <br> homeless, financially strained <br> students</h1>
    <div class="white-line" id="white-line--3"></div>
    <div class="cover-photo__byline">By
      <span class="cover-photo__byline__author" id="cover-photo__byline__author--3">Emily Merz</span>
    </div>
  </div>
</div>
