<div class="cover-photo" id="cover-photo-1">
  <a href="http://dailybruin.com/">
    <img class="db-logo" src="img/db-logo.png" alt="Daily Bruin Logo">
  </a>
  <div class="cover-photo__header" id="cover-photo__header--1">
    <h1>Close to Home</h1>
    <div class="cover-photo__subhead" id="cover-photo__subhead--1">Housing Insecurity at UCLA</div>
    <div class="white-line float-right" id="white-line--1"></div>
    <div class="cover-photo__byline" id="cover-photo__byline--1">By
      <span class="cover-photo__byline__author">Andrea Henthorn and Meghan Hodges </span>
    </div>
  </div>
</div>
