<div class="cover-photo" id="cover-photo-3">
  <a href="http://dailybruin.com/"><img class="db-logo" src="img/db-logo.png" alt="Daily Bruin Logo"></a>
  <div class="cover-photo__header cover-photo__header--3">
    <div class="cover-photo__subhead cover-photo__subhead--chapter">Part Three</div>
    <h1 class="cover-photo__header">Emily Merz: UC needs long-term solutions for homeless, financially strained students</h1>
    <div class="white-line float-right"></div>
    <div class="cover-photo__byline">By
      <span class="cover-photo__byline__author">Emily Merz</span>
    </div>
  </div>
</div>
