<div class="title-photo">
  <img class="db-logo" src="img/db-logo.png" alt="Daily Bruin Logo">
  <div class="title-header">
    <h1 class="title-header">Lorem Ipsum X</h1>
    <div class="title-subhead"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    <div class="white-line float-right"></div>
    <div class="byline">By
      <span class="byline__author">Andrea Henthorn</span> and
      <span class="byline__author">Meghan Hodges</span>
    </div>
  </div>
</div>
