<div class="cover-photo">
  <a href="http://dailybruin.com/"><img class="db-logo" src="img/db-logo.png" alt="Daily Bruin Logo"></a>
  <div class="cover-photo__header">
    <h1 class="cover-photo__header cover-photo__header--4">Lorem Ipsum</h1>
    <div class="cover-photo__subhead"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    <div class="white-line float-right"></div>
    <div class="cover-photo__byline">By
      <span class="cover-photo__byline__author">Daily Bruin Staff</span>
    </div>
  </div>
</div>
