<!DOCTYPE html>
<html class="no-js" lang="en-US" dir="ltr">

{% include "../partials/head.njk" %}

<body>

  {% block coverphoto %}{% endblock %}

  {% include "nunjucks/partials/menubar.njk" %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% block footer %}{% endblock %}
  {% include "../partials/scripts.njk" %}
</body>

</html>
