{% extends "./nunjucks/templates/default.njk" %}

{% block coverphoto %}
  {% include "nunjucks/partials/cover-photos/cover-photo-4.njk" %}
{% endblock %}

{% block content %}
<div class="row">
<div class="small-12 columns article-content">
  <!--
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <pattern id="diagonal-stripe-3" patternunits="userSpaceOnUse" width="10" height="10">
          <rect x="0" y="0" width="10" height="10" style="fill:#809fff"/>
          <path d="M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2" style="stroke:#66c2ff; stroke-width:3"/>
        </pattern>
      </defs>
    </svg>

    <div class="interactive-bar-chart-container">
      <p>What percent of UC students experience food insecurity?</p>
      <p>Drag the bar below to make your guess</p>
      <ul class="percent-guide">
        <li>0%</li>
        <li>25%</li>
        <li>50%</li>
        <li>75%</li>
        <li>100%</li>
      </ul>
      <div class="interactive-bar-chart"></div>
      <div class="answer-bar-chart"></div>
      <button class="button secondary bar-guess-button">Submit your guess</button>
    </div>
-->
    <div class="ecrt">
      <img src="img/12.4.enterprise.ECRT-01.png" alt="A graphic of the number of ECRT cases since 2008.">
      <p>The Economic Crisis Response Team, launched in 2008 as a subset of the Student
Affairs office, assists students in immediate and dire financial crisis. There
are four forms of aid students can receive through ECRT: meal vouchers,
emergency housing, one-time grants or emergency short-term loans.</p>
<p>Students who qualify for the meal voucher program can receive up to 11 vouchers
per quarter, which are donated by student organization Swipe Out Hunger, for a
maximum of three quarters. The Dean of Students, Maria Blandizzi, said ECRT will
explore giving students in financial crisis ongoing meal plans instead of
single-use meal vouchers.</p>
<p>The Student Fee Advisory Committee funds emergency housing for up to 20 days in
an open bed space in a university-owned property.</p>
<p>The Chancellor’s Grant is a one-time grant option for up to $4,000, Blandizzi
said. UCLA provides short-term loans ranging from $1,500 to $1,700 at no
interest, which must be repaid within one to three months.</p>
<p>Blandizzi said ECRT incorporated a Financial Wellness Program in 2012, which
trains 10 students to help students in crisis plan and manage their finances.</p>
    </div>


    <div class="illo">
      <img src="img/luskin2.png" alt="An illustration of a student microwaving ramen.">
      <p>A study early this year found that 42 percent of University of California
students are food-insecure. Food insecurity is defined as limited access to
adequate food because of financial constraints.</p>
<p>In response, two graduate student researchers in the Fielding School of Public
Health facilitated a qualitative study which investigated food literacy and
insecurity at UCLA.</p>
<p>Hannah Malan, a research assistant in the UC Healthy Campus Initiative, and
Tyler Watson, a doctoral student in the UCLA Fielding School of Public Health,
organized the study in 2016. They conducted 11 focus groups with undergraduate
and graduate UCLA students to investigate what factors contribute to food
insecurity at UCLA.</p>
<p>Malan and Watson are both members of the UC Global Food Initiative, which
develops solutions to food insecurity and health issues throughout the country.</p>
<p>Malan said one finding from the study that surprised her most was that students
often normalize unhealthy lifestyle choices.</p>
<p>“I was most surprised (by) how many students talked about food as a stressor in
their lives,” Malan said. “Students’ struggling with food ... replicates the
broader cultural norm that we just don’t have time or resources to take care of
ourselves when we’re living in these demanding, stressful environments.”</p>
<p>Malan and Watson’s research showed many undergraduates are unaware that
struggling with hunger meant they were food-insecure, and that the university
did not actively inform students about food literacy.</p>
<p>Malan said they also found students sometimes forgo meals to offset the costs of
university attendance.</p>
<p>“I think (what) we can do more as an institution of higher education (is) to
give students the tools they need and communicate the values of … community
health and well-being, which I think start with food,” Malan said.</p>
    </div>

    <div class="guess-the-number-container">
      <p>How many cases has the ECRT worked with?</p>
      <p>Press the arrows to change your guess</p>
      <div class="guess-the-number">
        <button class="clear button rotate-button left-rotate-button">&#x25C4;</button>
        <div class="range-container">
          <div class="range"></div>
        </div>
        <button class="clear button rotate-button right-rotate-button">&#x25BA;</button>
        <div class="increasing-number"></div>
    </div>
    <button class="button secondary num-guess-button">Submit your guess</button>
  </div>

    <!-- Video -->

  <div class="graphic">
    <img src="img/swipeOutHunger-01.png" alt="A graphic detailing the number of students who have donated to Swipe Out Hunger.">
    <p>Donna Heikali, a fourth-year psychobiology student and vice president of Swipe
Out Hunger, said the organization has shifted its focus since she joined during
her sophomore year.</p>
<p>Heikali said when she first joined, students were primarily concerned with
collecting swipes and converting them to vouchers. Now, the club focuses on
raising awareness of the opportunity to enroll in CalFresh and its partnership
with Food Forward.</p>
<p>Students can qualify to receive federal grocery stipends through CalFresh if
they work at least 20 hours a week, receive work-study, have dependents or meet
other criteria.</p>
<p>Swipe Out Hunger and Food Forward began a partnership in 2016 and work together
every week to collect fresh produce from the Thursday farmers market in
Westwood, Heikali said. Students distribute the produce vendors would otherwise
leave behind to the Community Programs Office Food Closet, graduate student
apartments and Los Angeles homeless shelters, and the vendors receive a tax
break for their contributions.</p>
<p>Additionally, Swipe Out Hunger
<a href="https://femmagazine.com/homelessness-awareness-week-at-ucla/">partnered</a> with
The Mobile Clinic Project at UCLA to host the campus’ first Homelessness
Awareness Week during spring quarter.</p>
<p>Heikali said she realized how important food security resources are to UCLA
students when she participated in a “move day” with Swipe Out Hunger during her
second year. Move days transport donated food from the dining halls to the CPO
Food Closet.</p>
<p>“There was a book (in CPO) that you could write things in, and one person wrote
that the food closet was saving their life,” Heikali said. “That changed
everything for me.”</p>
<p>Eddie Munguia, a third-year psychology student and co-president of Swipe Out
Hunger, said his family is originally from Mexico, but he grew up in a
predominantly low-income area in Oakland. He added he thinks the UCLA community
struggles with finding an effective way to communicate available resources to
students experiencing food insecurity.</p>
<p>“Once I realized there was an anonymous aspect to hunger, it impacted me,”
Munguia said. “It could be a TA, a student, your roommate.”</p>
<p>In the future, he hopes Swipe Out Hunger will create closer ties with Bruin
Shelter. He added he is trying to bridge the gap between housing and food
insecurity and get resources directly to students using Bruin Shelter.</p>
<p>“You come to UCLA, which is a nice campus, and despite how nice that campus is
there are still very real issues going on,” Munguia said. “I wasn’t able to
understand that until I joined Swipe Out Hunger and saw the numbers and data.”</p>
  </div>

  <div class="bruin-shelter">
    <img src="img/Bruin_Shelter_Final.png" alt="An illustration of embracing student with a large bruin.">
    <p>After launching in 2016, Bruin Shelter is expanding to accommodate the
increasing number of students seeking its services.</p>
<p><a href="http://dailybruin.com/2016/10/27/student-run-shelter-opens-doors-to-homeless-students/">Bruin Shelter</a>,
the first completely student-run homeless shelter in the nation exclusively for
students, provides housing to students from UCLA and other local universities.
The shelter is meant to be a temporary residence on a path to permanent housing
for residents, said co-President Kate Lieb, a fifth-year psychology student.</p>
<p>Based on Harvard University’s shelter model, Bruin Shelter supports Students for Students, a
501(c)3-designated nonprofit organization. UCLA students coordinate the program
with the founder of Bruin Shelter,
<a href="http://dailybruin.com/2016/01/07/students-start-bruin-shelter-for-westwood-homeless-population/">Louis Tse</a>.
Tse received his doctoral degree in mechanical engineering from UCLA in 2016 and
chose to be “rationally homeless” as a student, living out of his car to
dedicate personal funds to starting the shelter.</p>
<p>Volunteers stay at Bruin Shelter from 7 to 11 p.m. each night and supervisors
spend the entire night at the shelter. Two volunteers and two supervisors
alternate between staying awake from 7 p.m. to 2 a.m. and 2 a.m. to 7 a.m. They
receive training based on the Hill’s resident assistant training, Lieb said.</p>
<p>Last year, the shelter housed about 10 students at a time, and plans to
accommodate more in the future. Bruin Shelter received more than 100
applications after its pilot year and will prioritize students in need of
immediate housing support. However, it has been unable to house residents during
construction this quarter.</p>
<p>Volunteers offer resources such as financial and mental health counseling and
connections to the Economic Crisis Response Team, which operates under Student
Affairs at UCLA and provides different forms of emergency financial aid to
students in need.</p>
<p>Lieb added that Bruin Shelter partners with graduate students in UCLA’s
department of social welfare, who act as case managers for each Bruin Shelter
resident, in addition to Swipe Out Hunger and other organizations that donate
food and other goods.</p>

  </div>

</div>
</div>

{% endblock %}
{% block footer %}
  {% include "nunjucks/partials/footer/footer-by-the-numbers.njk" %}
{% endblock %}
