{% extends "./nunjucks/templates/default.njk" %}
{% block content %}
{% include "nunjucks/partials/title-photo.njk" %}
{% include "nunjucks/partials/menubar.njk" %}

<div class="article-content">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa vero rem. Mollitia amet reiciendis ipsa voluptates porro
  consequuntur ullam, laudantium distinctio rem minus similique at voluptatibus corporis ex dignissimos deleniti iste blanditiis
  officia quod id placeat unde laborum iusto pariatur. Similique nobis reprehenderit minima nihil earum deleniti rem, dolores
  sequi fuga, et, quasi hic sint voluptas vitae? Expedita, error ullam. Quod facilis odit excepturi in hic accusantium reiciendis
  pariatur quos labore iusto incidunt tempore officia eum, consequuntur esse minus!</p>
<p>Distinctio, praesentium consectetur. In eaque ut facere cupiditate commodi tempore aut odit, unde accusamus quo a! Consectetur
  debitis inventore enim in obcaecati illum dolore laborum quod ipsa fuga esse ducimus officia autem expedita impedit, sunt
  adipisci placeat nulla assumenda atque nemo. Quae, vero molestias quam qui sapiente dolore ullam rem repudiandae, suscipit,
  accusantium error. Hic dolorem vero sit nostrum blanditiis. Vitae, quo maiores sequi quidem culpa dignissimos deserunt
  earum laborum omnis ipsa vel asperiores aut cupiditate, nesciunt expedita accusantium ut!</p>
<p>Illum aliquid non porro eveniet, itaque obcaecati odit, asperiores distinctio odio tenetur reiciendis dicta alias pariatur,
  iste dolores! Incidunt distinctio sit cum aspernatur error, porro a ratione. Inventore perferendis nisi nihil. Numquam
  amet cum fugiat. Rerum accusamus mollitia perspiciatis ex nulla quaerat qui placeat alias. Voluptatibus velit architecto
  odio rerum. Quas impedit quidem at sequi beatae dolor quod sapiente vitae, officia animi veniam consequuntur quae nam tempore
  repudiandae porro. Adipisci vero temporibus eum commodi molestias praesentium harum ducimus rem ut?</p>
<p>Optio in exercitationem ut quod dolorum aspernatur animi cumque, fugiat obcaecati unde et, temporibus dicta, amet quas. Accusamus
  provident adipisci officia quam nostrum excepturi molestias ipsam corrupti perferendis, enim totam minima sed similique
  dignissimos iure odit, quis nobis ex dolor. Natus quidem, fugit labore placeat a consectetur ducimus deserunt reprehenderit
  officia quam quasi at perferendis laboriosam fugiat est sequi, quod minima eius veniam recusandae ex tenetur suscipit.
  Placeat cupiditate architecto quam, sapiente id, totam, corrupti quos accusantium laboriosam sunt sint.</p>
<p>Quaerat libero eos non aperiam reprehenderit magnam officiis! Modi dolorem nemo illo accusantium dicta ullam atque, quas
  facere quia saepe tempora maiores reprehenderit voluptates, excepturi veritatis autem temporibus optio pariatur placeat
  ab voluptatum sapiente debitis necessitatibus? Fuga, excepturi, sunt ut sint quis incidunt, magni possimus nulla dicta
  aliquam inventore corrupti accusamus eos odit ex voluptate omnis maiores delectus laborum eligendi! Eaque repellendus consectetur
  itaque, consequatur dolorem praesentium porro quo rem ex sapiente distinctio, perspiciatis voluptate saepe, maiores facilis
  ea delectus.</p>
<p>Similique, sapiente ipsa esse pariatur ducimus nihil minima non nemo necessitatibus laudantium corrupti mollitia perferendis
  recusandae ea. Excepturi reprehenderit earum minus similique suscipit recusandae tenetur doloremque ullam consequuntur
  dolorum id sapiente nobis veritatis, voluptatem animi, fugiat repellendus consectetur, et exercitationem vitae facere odio
  ipsam doloribus iusto! Dolorem rerum at minus delectus reprehenderit ipsam, atque quaerat soluta voluptatibus recusandae.
  Blanditiis molestias vitae modi perferendis, voluptatem reprehenderit unde sed error nam aliquid commodi dignissimos temporibus
  impedit facere doloribus, illo consequatur omnis esse.</p>
<p>Quos esse reprehenderit id perferendis fugiat accusantium quia est blanditiis sequi eos aliquid iusto laboriosam vel error,
  nobis officia repellendus dolore maiores consequuntur obcaecati, sunt harum repudiandae beatae. Natus provident iure omnis
  hic. Fuga error neque nam ea obcaecati accusamus eum modi maiores ipsam porro similique voluptate hic, provident et quos
  expedita eveniet fugit aperiam nesciunt! Iusto sed sapiente, natus laudantium facilis qui minima molestias quod eligendi
  itaque ipsum magnam voluptatum. Error maxime quis et minima dignissimos magnam necessitatibus id!</p>
<p>Aperiam aspernatur itaque esse ipsum, officiis harum optio sed, beatae provident delectus eaque fuga corrupti dolor unde
  ex ab consectetur? Sed maxime consequatur, iure blanditiis debitis optio aspernatur. Cupiditate officiis dolores dolorum
  ut, harum fugit autem aut suscipit nisi mollitia consequatur id modi. Totam at reiciendis esse soluta consequuntur, nisi
  optio quae doloremque libero nostrum! Ratione delectus vel alias est, dolorum, aperiam eligendi perspiciatis quibusdam
  ex, laudantium ipsa velit praesentium. Inventore veniam iusto ratione voluptate cum repudiandae quisquam quos repellendus?</p>
<p>Inventore error cumque aliquam omnis adipisci reiciendis ducimus distinctio dolor praesentium doloremque sunt a non doloribus
  labore nisi id, autem dicta aperiam nulla facilis tenetur! Illo repellendus voluptates totam qui dolores distinctio impedit
  nihil autem quia sint ex, asperiores quo quibusdam nisi quod. Illum praesentium reprehenderit explicabo, aliquam hic enim
  laborum pariatur minus neque esse sit temporibus dicta, magni debitis tenetur ipsa aperiam nisi? Nemo quod asperiores neque
  reiciendis commodi quisquam quas velit perferendis recusandae accusamus, corporis minima molestiae unde.</p>
<p>Ducimus praesentium doloremque minima non placeat ratione, soluta harum maiores fugiat a nisi voluptas aperiam quos perspiciatis
  veritatis repudiandae dicta tenetur cum voluptatum neque eveniet molestias blanditiis id? Quod impedit ut aut inventore
  tenetur suscipit itaque ipsam culpa fugit! Minus voluptatum praesentium maiores perferendis recusandae sed cum repellat
  commodi? Exercitationem perspiciatis eveniet cum dolores similique blanditiis veritatis obcaecati, harum, ut temporibus,
  tempore iste sunt. Tenetur consectetur est debitis officia. Totam quod nemo mollitia, dolorum harum neque maiores doloribus
  nulla provident!</p>
</div>

{% endblock %}
