{% extends "./nunjucks/templates/default.njk" %}

{% block coverphoto %}
  {% include "nunjucks/partials/cover-photos/cover-photo-paavo.njk" %}
{% endblock %}

{% block content %}

<div class="article-content">
  <h1>Not done yet!</h1>
</div>

{% endblock %}
