{% extends "./nunjucks/templates/default.njk" %}

{% set title = "Securing Support | Daily Bruin" %}

{% block coverphoto %}
  {% include "nunjucks/partials/cover-photos/cover-photo-3.njk" %}
{% endblock %}

{% block content %}
<div class="row">
<div class="small-12 columns article-content">
  <p><span class="dropcap">N</span>early 40 of the most elite universities in the U.S. have more students
<a href="https://www.nytimes.com/interactive/2017/01/18/upshot/some-colleges-have-more-students-from-the-top-1-percent-than-the-bottom-60.html?_r=0">from the top 1 percent of income brackets</a>
than the bottom 60 percent. And that inequality is readily visible in the
University of California.</p>
<p>With rising tuition costs and housing prices, it&#39;s no wonder middle-class and
low-income Americans struggle to pay for higher education. To make ends meet,
more and more students have found themselves cutting costs in two essential
areas: food and housing.</p>
<p>The results are daunting:
<a href="http://www.latimes.com/local/lanow/la-me-cal-state-homelessness-20160620-snap-story.html">56,000 students</a>
declared they were homeless on their 2013-2014 Free Application for Federal
Student Aid form. And that number is a serious underestimate, since most
homeless students do not report their status, a
<a href="http://www.dailynews.com/2015/04/27/cal-state-university-studying-hunger-homelessness-among-students/">California State University, Long Beach study</a>
found. A UC Global Food Initiative survey found that
<a href="http://www.latimes.com/local/california/la-me-uc-food-insecurity-07112016-snap-story.html">one in four</a>
UC students said they had to choose between paying for food and housing or
educational expenses. Affordable student housing is clearly a problem the UC and
the California state government must address.</p>
<p>UCLA
<a href="http://dailybruin.com/2017/03/12/ucla-to-propose-new-dorms-apartments-to-match-enrollment-increase/">plans to build</a>
three new residence halls on the Hill and two apartment complexes in Westwood by
2021 to meet projected enrollment increases. Although the proposal will increase
the supply of housing near the university, it won&#39;t do anything to help students
who can&#39;t afford housing in the first place.</p>
<p>UCLA Housing should set aside some of the beds in its new residential halls and
apartment complexes for students in financial crisis. The university should
expand its short-term emergency housing options and create long-term housing in
these new buildings for students experiencing chronic housing problems.</p>
<p>UCLA spokesperson Alison Hewitt said students unable to pay for housing can seek
agreements with UCLA Housing to extend payment due dates without late fees. But
to secure an extension without fees, according to UCLA Housing&#39;s
<a href="http://ask.housing.ucla.edu/app/answers/detail/a_id/704/kw/payment%20agreement">frequently asked questions</a>,
students need to prove they will be able to make housing payments soon,
something students in severe financial crises won&#39;t be able to do. The UCLA
Registrar&#39;s Office will
<a href="http://parents.ucla.edu/financial-services/bruin-bill">drop them from their classes</a>,
cancel their housing contract and take away BruinCard access to their dorms or
university apartments.</p>
<p>Students in this situation may try to secure a short-term emergency
<a href="http://www.loans.ucla.edu/Short-Term-Loan">loan from UCLA</a> to make their
housing payments. Bruins who are not employed are eligible for a $200 emergency
loan, and those who work can receive up to $350 loans for living expenses. These
loans must be repaid within a month&#39;s time. But, these types of loans are
Band-Aid solutions and force students to live loan-to-loan or worse, face
homelessness, if the loan isn&#39;t enough to cover housing costs.</p>
<p>If students find themselves unable to pay for housing at all, they can seek help
from the Economic Crisis Response Team.</p>
<p>ECRT, which is funded by the Student Fee Advisory Committee, provides 14 to 20
days of housing in Sproul Hall for temporarily homeless students, said Dean of
Students Maria Blandizzi.</p>
<p>This option seems great in theory. But any student who has lived in Westwood can
attest to it being nearly impossible to find sufficient housing in just 14 to 20
days. Additionally, the short-term housing does nothing for impoverished
students who are unable to pay for housing after the 14- to 20-day period. In
effect, ECRT&#39;s emergency housing is at best a place for homeless students to
crash for two weeks before they return to being homeless again.</p>
<p>Claudia Peña, a lecturer in law who teaches and researches disability law,
advocated on behalf of one of her students who experienced homelessness because
they were unable to make UCLA Housing payments. Peña said she met with
representatives from UCLA Housing to help her student find housing. She said she
thinks the process was convoluted and long, but she secured housing for the
student after repeated negotiations with UCLA Housing. Peña added she thinks
UCLA is not equipped to help housing-insecure students find long-term housing.</p>
<p>&quot;UCLA Housing doesn&#39;t have enough processes in place to respond to these types
of situations,&quot; she said. &quot;Students have faced homelessness on campus multiple
times, and responses for students in poverty are limited.&quot;</p>
<p>And that&#39;s the point: Homelessness is often not just a 20-day issue. Rather, it
can stem from a variety of financial and socio-economic factors that are not
easily addressed by a two-week sleepover in Sproul Hall or a $200 monthly loan.</p>
<p>To address chronic housing insecurity, UCLA needs to allocate beds for students
in extreme financial crisis in its
<a href="http://housingandhospitalityservices.ucla.edu/docs/ucla-housing-services-student-housing-master-plan.pdf">Student Housing Master Plan</a>.
UCLA can streamline the emergency housing process by designating some of its
beds as short-term crisis housing for longer than 20 days while students figure
out their financial situation. In addition, UCLA can use the same allocated beds
to provide long-term subsidized housing for homeless students with chronic
financial problems. Hewitt said UCLA Housing has not yet finalized the specific
number of beds or rooms in its new housing project, meaning the university has
the opportunity to earmark residences for homeless students.</p>
<p>Of course, it may seem like housing-insecure students should just take out
loans. But federal and state loans are offered to students at the beginning of
the year, and the amount is not subject to change. Students who are partially
relying on these loans and on money from home could find themselves unable to
make payments if their financial situation at home changes. Reapplying for
federal and state loans in the middle of the year is difficult, and there is no
guarantee that students will be able to get the money they need.</p>
<p>And while private loans may seem like a good alternative,
<a href="https://www.cnbc.com/2017/07/18/student-loan-interest-rates-edge-higher-and-higher.html">they come with high interest rates</a>
and students end up having to make payments as soon as they take out the loan –
something homeless and financially strained students would likely not be able to
do. Some students may not even have credit scores, making them ineligible to
take out these private loans.</p>
<p>If universities don&#39;t take action to provide robust long-term and short-term
housing options, student homelessness will be more than just a hypothetical
worst-case scenario – it will be the reality for many.</p>
</div>
</div>

{% endblock %}
