{% extends "./nunjucks/templates/default.njk" %}

{% set headline = "Alum remembers troubles of living out of van as student" %}
{% set title = headline + " – Daily Bruin" %}

{% block coverphoto %}
  {% include "nunjucks/partials/cover-photos/cover-photo-seth.njk" %}
{% endblock %}

{% block content %}

<div class="article-content">

  <p>Every morning during the summer of 2010, Seth Wing walked to Kerckhoff Hall from
his van, parked on Veteran Avenue, with a cup of instant oatmeal in his hand and
ready to start the day.</p>
<p>That summer, before he graduated with a degree in geography/environmental
studies and a minor in geospatial information systems and technologies, Wing
lived out of his van during the school week.</p>
<p>“It’s an heirloom,” Wing said about his brown, two-toned 1989 Ford E150
Econoline van that he inherited from his grandparents.</p>
<p>Wing said he decided to take summer courses for his major and conduct research
as a technician in a soil laboratory so he could have the option to graduate
early. During the school year, he lived in Culver City with roommates he found
on Craigslist. However, when his lease ended, he knew he wouldn’t be able to
afford rent and pay for summer classes simultaneously.</p>
<p>“Not everyone can afford to live in Westwood or even Culver City,” he said.
“(Some people) might have to take time to recoup their bank account like I had
to.”</p>
<p>So, Wing decided to live out of his van during the week while attending classes
and working in the laboratory. He used free amenities on campus to maintain his
hygiene.</p>
<p>Before breakfast, Wing would walk to Kaufman Hall to brush his teeth and use the
pools and showers. With his towel, electronics and chargers, he either made his
way over to the lab or headed to class.</p>
<p>He said his peers in the lab knew he lived in the van, but the professor
overseeing his research did not.</p>
<p>“No one ever really questioned it,” he said. “They thought it was slightly
amusing.”</p>
<p>Wing said he was financially independent as a student and funded his own
education. He added his family knew of his decision to live in the van.</p>
<p>Adrienne Wing, Seth’s younger sister who was attending California State
University, Fullerton at the time, said she was not totally surprised to learn
of her brother’s decision.</p>
<p>“He’s a very frugal person in a lot of ways,” Adrienne Wing said. “Of all the
people I know in my whole life, he would be the one person who would do that.”</p>
<p>She added she thinks her brother’s affinity for outdoor activities likely made
him comfortable with the idea of living in his van.</p>
<p>As the founder of the Hiking Club at UCLA, Seth Wing was familiar with difficult
living conditions. He had hiked the John Muir Trail for three weeks in 2008 and
the Appalachian Trail over a period of five months in 2012.</p>
<p>“You learn a lot about your body and what you can take (while hiking because)
it’s very mental. I guess living in a van in some way is mental, too,” Wing
said. “That’s probably why I’m so nonchalant about it.”</p>
<p>However, even though he lived off of gummy bears and a block of cheese for the
last hundred miles of his John Muir hike, Wing said his poor diet while living
in the van affected his academic performance.</p>
<p>“You can start to feel lethargic because of what you’re eating, and (from) not
getting as much sleep,” Wing said. “It definitely wears on you.”</p>
<p>On a few occasions, he went dumpster diving for food. Other times, he would find
fresh fruit growing on trees around campus.</p>
<p>He said it was difficult to do homework in his car – he used Wi-Fi from graduate
student housing to complete assignments as the signal reached to where he parked
his van on Veteran Avenue.</p>
<p>“You’re uncomfortable, you’re too hot, cold, it’s loud, you can only do so many
hours in the library. You don’t have a desk to sit at with your computer,” he
said.</p>
<p>Wing said he saw many other students living on Veteran Avenue that summer but
was surprised by how loud people were while walking through the streets at
night, who sometimes got into arguments and fights. He added he feared his car
may be broken into while he was sleeping.</p>
<p>That summer, Wing dropped one of his classes and spent much of his time in the
lab, working with geographic information systems. During his free time, Wing
said he mapped out the best parking zones: flat, shaded and unrestricted.</p>
<p>Although he did not graduate early, Wing said he values the work he completed
that summer, which led him to his current position as an environmental
scientist.</p>
<p>“Living in (a) van is not the worst thing that can happen,” Wing said. “I had a
roof over my head, I wasn’t out on the street – I had the van.”</p>

</div>

{% endblock %}
