@charset "utf-8";

.overlay {
  //cursor: default;
  pointer-events: none;
}
.handle--w {
  pointer-events: none;
}
.handle--e {
  cursor: ew-resize;
}
.selection {
  fill: url("#diagonal-stripe-3");
  fill-opacity: 1;
  //cursor: default;
  pointer-events: none;
}
.handle--e:active {
  pointer-events: all;
}
.interactive-bar-chart-container {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: auto;
}
.percent-guide {
  list-style: none;
  display: flex;
  width: 540px;
  margin-left: 0;
  justify-content: space-between;
}
.interactive-bar-chart-container * {
  margin-top: 5px;
}
.percent-guide li {
  display: inline;
  width: 20px;
}
