#cover-photo-1 {
  background: url(../img/web.enterprise.anonymous.DLee.jpg) no-repeat center
    center fixed;
}

#cover-photo__header--1 {
  float: right;
  text-align: right;
  color: white;
  margin: 4.6875rem;
  margin-top: 17rem;
  margin-right: 0.325rem;
  margin-bottom: -0.5rem;
}

#cover-photo__subhead--1 {
}

#white-line--1 {
  margin-bottom: -0.5rem;
}

#cover-photo__byline--1 {
  margin-top: 1rem;
  margin-right: -0.1rem;
  overflow: hidden;
}
