.cover-photo {
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  // height: 500px;
}

<<<<<<< HEAD
=======
#cover-photo-1 {
  background: url(../img/web.enterprise.anonymous.DLee.jpg) no-repeat center
    center fixed;
}

#cover-photo-2 {
  background: url(../img/web.enterprise.paavo.monkkonen.DLee.jpg) no-repeat
    center center fixed;
}

#cover-photo-3 {
  background: url(../img/luskin1.png) no-repeat center center fixed;
  background-size: 120% auto;
}

#cover-photo-5 {
  background: url(../img/web.enterprise.seth.wing.picA.MHodges.jpg) no-repeat
    center center fixed;
  background-position: 75% 50%;
}

>>>>>>> master
.db-logo {
  margin: 1.25rem;
  height: 6.25rem;
  width: 6.25rem;
}

.cover-photo__subhead--chapter {
  text-transform: uppercase;
}

.cover-photo__header {
  font-family: 'Barlow Semi Condensed';

  h1 {
    font-family: 'Barlow Semi Condensed';
    line-height: 3rem;
    margin-bottom: 0.2rem;
  }
}

  h1 {
    max-width: 30rem;
  }
}

  h1 {
    max-width: 40rem;
  }
}

.cover-photo__byline__author {
  text-transform: uppercase;
}

.white-line {
  height: 0.25rem;
  width: 3.125rem;
  background-color: white;
}

.black-line {
  height: 0.25rem;
  width: 3.125rem;
  background-color: black;
}
