.cover-photo {
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  // height: 500px;
}

.db-logo {
  margin: 1.25rem;
  height: 6.25rem;
  width: 6.25rem;
}

.cover-photo__subhead--chapter {
  text-transform: uppercase;
}

.cover-photo__header {
  font-family: 'Barlow Semi Condensed';

  h1 {
    font-family: 'Barlow Semi Condensed';
    line-height: 3rem;
  }
}

  h1 {
    max-width: 30rem;
  }
}

.cover-photo__header--5 {
  color: white;
  text-align: left;

  h1 {
    max-width: 40rem;
  }
}

.cover-photo__byline__author {
  text-transform: uppercase;
}

.white-line {
  height: 0.25rem;
  width: 3.125rem;
  background-color: white;
}

.black-line {
  height: 0.25rem;
  width: 3.125rem;
  background-color: black;
}
