#cover-photo-1 {
  background: url(../img/web.enterprise.anonymous.DLee.jpg) no-repeat center
    center fixed;
}

.cover-photo__header--1 {
  text-align: right;
  color: white;
  margin: 4.6875rem;
  margin-right: 0.325rem;
}
