#cover-photo-3 {
  background-image: url(../img/luskin1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 120% auto;

  @media (max-width: 39.9375em) {
    background-size: 150% auto;
    background-position: 50% 9rem;
  }
}

.cover-photo__header--3 {
  margin: 6rem;
  text-align: center;
  color: white;

  @media (max-width: 39.9375em) {
    max-width: 14rem;

    h1 {
      line-height: 2rem;
    }
  }
}

.cover-photo__line--3 {
  height: 0.25rem;
  width: 3.125rem;
  display: inline-block;
  background-color: white;
}

.cover-photo__byline--3 {
  margin-top: 0.2rem;
}

.cover-photo__photo-credit--3 {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  color: black;
}
