#cover-photo-5 {
  background: url(../img/web.enterprise.seth.wing.picA.MHodges.jpg) no-repeat
    center center fixed;
}

#cover-photo__header--5 {
  color: white;
  float: left;
  text-align: left;
}
