#cover-photo-2 {
  background: url(../img/web.enterprise.paavo.monkkonen.DLee.jpg) no-repeat
    center center fixed;
}

#cover-photo__header--2 {
  float: left;
  text-align: left;
  color: black;
}

#black-line--2 {
  float: left;
  display: inline-block;
}

#cover-photo__subhead--chapter--2 {
}
