#cover-photo-2 {
  background: url(../img/web.enterprise.paavo.monkkonen.DLee.jpg) no-repeat
    center center fixed;
}

.cover-photo__header--2 {
  text-align: left;
  color: black;

  h1 {
    max-width: 30rem;
  }
}
