#cover-photo-2 {
  background: url(../img/web.enterprise.paavo.monkkonen.DLee.jpg); // no-repeat 50%
  //  30% fixed;
  background-repeat: no-repeat;
  background-position: 50% 40%;

  @media (max-width: 39.9375em) {
    background-size: 240%;
  }
}

.cover-photo__header--2 {
  text-align: left;
  color: black;
  margin-left: 1.25rem;

  h1 {
    max-width: 30rem;
  }

  @media (max-width: 39.9375em) {
    max-width: 14rem;

    h1 {
      line-height: 2rem;
    }
  }
}

.cover-photo__line--2 {
  height: 0.25rem;
  width: 3.125rem;
  margin-top: 0.8rem;
  background-color: black;
}

.cover-photo__byline--2 {
  margin-top: 0.4rem;

  @media (max-width: 39.9375em) {
    max-width: 4rem;
  }
}

.cover-photo__photo-credit--2 {
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  color: black;
}
