.top-bar, .top-bar ul{
  background-color: #dcddde;
  margin: 0;
  padding: 0;
}

.db-logo1{
  margin: 5px;
  border-right: 2px solid #bbb;
}

li a{
  text-decoration: none;
  color: black;
  margin: 10px;
}

li a:hover{
  color: black;
  text-decoration: underline;
}

.menu-text{
  font-size: 24px;
}
