.title-photo {
  padding-top: 50px;
  background: url(http://via.placeholder.com/1000x1000) no-repeat center center
    fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  // height: 500px;
}

.db-logo {
  margin: 20px;
  height: 100px;
  width: 100px;
}

.title-header {
  text-align: right;
  color: white;
  margin: 20px;
  font-family: 'Roboto Slab', serif;
}

.white-line {
  height: 4px;
  width: 50px;
  background-color: white;
}

.byline__author {
  text-transform: uppercase;
}
