.title-photo {
  background: url(http://via.placeholder.com/1000x1000) no-repeat center center
    fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  // height: 500px;
}

.db-logo {
  margin: 20px;
  height: 100px;
  width: 100px;
}

.title-header {
  text-align: right;
  color: white;
  margin: 75px;
  margin-right: 5px;
  margin-bottom: auto;
  font-family: 'Roboto Slab', serif;
}

.title-subhead {
  margin-top: -5px;
  margin-bottom: 5px;
}

.white-line {
  height: 4px;
  width: 50px;
  margin-right: 5px;
  background-color: white;
}

.byline {
  position:relative;
  margin-top: 15px;
  margin-right: 5px;
}

.byline__author {
  text-transform: uppercase;
}
