.title-photo {
  background: url(http://via.placeholder.com/1000x1000) no-repeat center center
    fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  // height: 500px;
}

.db-logo {
  margin: 1.25rem;
  height: 6.25rem;
  width: 6.25rem;
}

.title-header {
  text-align: right;
  color: white;
  margin: 4.6875rem;
  margin-right: 0.325rem;
  margin-bottom: auto;
  font-family: 'Roboto Slab', serif;
}

.title-subhead {
  margin-top: -0.3125rem;
  margin-bottom: 0.3125rem;
}

.white-line {
  height: 0.25rem;
  width: 3.125rem;
  margin-right: 0.3125rem;
  background-color: white;
}

.byline {
  margin-top: 0.9375rem;
}

.byline__author {
  text-transform: uppercase;
}
