@import 'colors';
@import 'utils';

@import 'bar-chart-style';
@import 'guess-the-number';
@import 'menubar';

@import 'cover-photo';
@import 'cover-photo-1';
@import 'cover-photo-2';
@import 'cover-photo-3';
@import 'cover-photo-4';
@import 'cover-photo-5';

@import 'text';
@import 'footer';

body {
  font-family: 'Spectral';
}

h3 {
  font-family: 'Barlow Semi Condensed';
}

.image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image__image-attribution {
  position: relative;
  width: 100%;
  font-family: 'Barlow Semi Condensed';
  font-weight: bold;
}

.online-credit {
  color: white;
  font-size: 0.9rem;

  a {
    padding: 0;
  }
}
